.control-left {
    background-color: #4CC6E8;
    border-radius: 40px 0 0 50px;
    box-shadow: 12px 12px 10px 0px black;
    
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.pad {
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.buttons {
    width: 70%;
    margin-bottom: 40px;
}

.analogico {
    width: 60%;
}

@media(max-width: 767px) {
    .control-left {
        display: none !important;
    }

}
