.control-left {
    box-shadow: inset 3px -1px 2px var(--primary-color-dark-2);
    border-right: 5px solid var(--primary-color-dark-1);
    background: var(--primary-color);
    background: var(--primary-gradient);
    border-top-left-radius: 77% 23%;
    border-bottom-left-radius: 77% 23%;
    
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: end;

    &::before,
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
    }

    &::before {
        background-color: var(--primary-color-light-1);
        height: 100%;
        top: 0;        
        clip-path: path("M 0 0 H153 V16 C72 13 31 18 0 67 z");

        @media screen and (max-width: 1400px) {
            clip-path: path("M 0 0 H111 V13 C45 4 18 22 0 50 z");
        }
    }

    &::after {
        background-color: var(--primary-color-dark-1) ;
        height: 38px;
        bottom: 0;
        clip-path: path("M 0 48 H153 V26 C10 27 45 8 0 0 z");

        @media screen and (max-width: 1400px) {
            clip-path: path("M 0 49 H143 V32 C-47 20 49 10 -32 3 z");
        }
    }

    &__minus {
        position: absolute;
        top: 7.1%;
        right: 8%;
    }

    &__analogic {
        position: absolute;
        top: 17%;
        left: 55%;
        transform: translate(-50%);
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        width: 5vw;
        height: 5vw;
        top: 41%;
        position: absolute;
        left: 52%;
        transform: translate(-50%);
    }

    &__square {
        position: absolute;
        right: 13%;
        top: 69%;

        width: 1.4vw;
        height: 1.4vw;
    }
}