.n-switch {
    margin: 0 auto;
    margin-top: 20px;
    width: 80%;
    height: 23vw;
    max-height: 410px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: auto;
    justify-content: center;

    filter: drop-shadow(0 16px 13px rgba(0, 0, 0, 0.5));

    @media(max-width: 767px) {
        display: none !important;
    }

    .button {
        max-width: 32px;
        max-height: 32px;
    }
}
