
@mixin active {
    &:not([disabled]) {
        cursor: pointer;    
  
        &:active {          
            box-shadow: none;
  
            &:not(.button--plus) {
                background: var(--grey-dark-2);
            }
        }
    }
  }