.n-game-boy {
    height: 96vw;
    width: 62vw;
    max-height: 550px;
    max-width: 355px;
    display: flex;
    flex-direction: column;
    
    @media(min-width: 767px) {
        display: none;      
    }
}