.n-game-boy {
    margin: 0 auto;
    margin-top: 20px;
    width: 70%;
    height: 400px;
    max-height: 65vh;
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: auto;
    justify-content: center;

    @media(min-width: 767px) {
        display: none;      
    }
}