.control-right {
    box-shadow: inset -3px 0px 2px 0px var(--secondary-color-dark-3);
    border-left: 5px solid var(--secondary-color-dark-2);
    background: var(--secondary-color);
    background: var(--secondary-gradient);
    border-top-right-radius: 77% 23%;
    border-bottom-right-radius: 77% 23%;
    
    grid-column: 3 / -1;
    grid-row: 1 / 2;

    &::before,
    &::after {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
    }

    &::before {
        background-color: var(--secondary-color-light-1);
        height: 100%;
        top: 0;
        clip-path: path("M 0 0 H153 V83 C86 1 31 18 0 15 z");

        @media screen and (max-width: 1400px) {
            clip-path: path("M 0 0 H121 V82 C86 1 31 13 0 11 z");            
        }
    }

    &::after {
        background-color: var(--secondary-color-dark-1);
        height: 38px;
        bottom: 0;
        clip-path: path("M 0 39 H153 V-34 C144 38 45 26 0 28 z");

        @media screen and (max-width: 1400px) {
            clip-path: path("M 0 39 H143 V-28 C94 38 45 26 0 28 z");
        }
    }

    &__plus {
        position: absolute;
        top: 5%;
        left: 8%;
    }

    &__buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        width: 5vw;
        height: 5vw;
        top: 12%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        max-width: 89px;
        max-height: 89px;
    }

    &__analogic {    
        position: absolute;
        top: 43%;
        left: 55%;
        transform: translate(-50%);
    }

    &__home {
        position: absolute;
        left: 12%;
        top: 69%;
        width: 1.5vw;
        height: 1.5vw;
    }
}
