.control-botton {    
    height: 50%;
    position: relative;
    padding: 0 2vw;

    &__logo {
        color: #1e1e1e7d;
        margin: 0 auto 11px;
        display: block;
        width: -moz-fit-content;
        width: fit-content;
        text-align: center;
        border: 2px solid rgb(0 0 0 / 43%);
        padding: 0 10px;
        border-radius: 10px;
        filter: drop-shadow(0px 1px 0px #858585);
        font-size: 2.4vw;
    }

    &__gameboy-arrows {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto);
        width: 15vw;
        height: 15vw;
        max-width: 78px;
        max-height: 78px;

        filter: drop-shadow(0px 4px 2px #1f1f1f);
    }
   
    &__buttons {
        display: flex;
        width: fit-content;
    }

    &__action-buttons,
    &__support-buttons {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        padding: 0 4%;
    }

    &__action-buttons {
        justify-content: space-between;        
    }

    &__support-buttons {
        margin-top: 10%;
        justify-content: center;
        column-gap: 4%;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__button-label {
        padding-top: 6px;
        text-transform: uppercase;
        font-size: 58%;
        padding-top: 6px;
        color: #1e1e1e9c;
        font-weight: 700;
    }

    .button {    
        &__content {
            font-family: Roboto, sans-serif;
            color: #656565;
            font-size: 4vw;
        }

        &--minus {
            height: 1.6vw;
            width: 4vw;
            max-width: 27px;
            max-height: 20px;
        }

        &--a,
        &--b {
            height: 7vw;
            width: 7vw;
            max-width: 42px;
            max-height: 42px;
        }

        &--a {
            transform: translate(-29%, 34%);
        }

        &--b {
            transform: translateY(-22%);
        }
    }
}

.button-square {
    height: 100%;
    width: 100%;
    background-color: var(--grey-dark-3);
    position: relative;

    &__arrow{
        background-color: #292929;
        border-bottom: 2px solid var(--grey-dark-1);
        width: 50%;
        height: 50%;
        position: absolute;
        top: 15%;
        left: 50%;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    }

    &--up, 
    &--right,
    &--bottom,
    &--left {
        cursor: pointer;
    }

    &--up {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .button-square__arrow {
            transform: translate(-50%);
        }
    }

    &--right {
        grid-column: 3 / -1;
        grid-row: 2 / 3;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        .button-square__arrow {
            transform: translate(-50%) rotate(90deg);
        }
    }

    
    &--middle {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    &--bottom {
        grid-column: 2 / 3;
        grid-row: 3 / -1;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .button-square__arrow {
            transform: translate(-50%) rotate(180deg);
        }
    }

    &--left {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        .button-square__arrow {
            transform: translate(-50%) rotate(270deg);
        }
    }
}