.control-botton {
    background-color: #039DA4;
    height: 50%;
    display: flex;
    justify-content: space-around;
    
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 170px 45px;
    border-bottom-left-radius: 170px 45px;
}

.gameboy-arrows {
    width: 27%;
}

.gameboy-buttons {
    width: 27%;
}
