.analogic {
    width: 5vw;
    height: 5vw;
    max-width: 90px;
    max-height: 90px;

    &__background {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: var(--grey-dark-4);
        background: var(--dark-gradient-1);
        position: relative;
        box-shadow: -4px 10px 5px rgba(0, 0, 0, 0.3);
        padding: 11%;
    
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            background-color: var(--black);
            box-shadow: inset 1px 1px var(--grey-dark-1);
        }
    
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            width: 2px;
            height: 100%;
            background-color: var(--black);
            box-shadow: inset 1px 3px var(--grey-dark-2);
        }
    }

    &__center {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        border: 3px solid var(--grey-dark-3);
        border-radius: 50%;
        background: var(--grey-dark-4);
        background: var(--dark-gradient-2);
    }
}