.switch-control-display {
    flex: 1;
    background-color: black;
    width: 39vw;
    max-width: 695px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1.1rem;
    border: solid 8px #4a4a4a;

    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.load-bar {
    margin-top: 10px;
    height: 2px;
    background-color: white;
    width: 100%;
    animation: loading 5s ease;
    align-self: flex-start;
}
.load-text {
    font-family: 'Recursive', sans-serif;
    color: white;

    animation: blink-animation 2s steps(5, start);
    -webkit-animation: blink-animation 2s steps(5, start);
    animation-iteration-count: 3;
    -webkit-animation-iteration-count: 3;
}


@keyframes loading {
    0%   {width: 0;}
    25%  {width: 10%;}
    50%  {width: 10%;}
    75%  {width: 65%;}
    100% {width: 80%;}
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
