.switch-control-display {
    flex: 1;
    background-color: black;
    width: 39vw;
    max-width: 695px;
    padding: 1.1rem;
    border: solid 8px var(--grey-dark-2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    
    &__screen {     
      filter: opacity(0);
      background-color: #000;  
      
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
    }    
}