:root {
    --container-background-color: #2d2d2d;

    --primary-color: #4cc6e8;
    --primary-color-dark-1: #46b4d1;
    --primary-color-dark-2: #3992a9;
    --primary-color-dark-3: #2b7e93;
    
    --primary-color-light-1: #71efe5;

    --primary-color-variant: #4ae8d0;

    --primary-gradient: linear-gradient(to top, var(--primary-color), var(--primary-color-variant));

    --secondary-color: #ac355f;
    --secondary-color-dark-1: #9e3366;
    --secondary-color-dark-2: #7b2339;
    --secondary-color-dark-3: #6b2245;
    
    --secondary-color-light-1: #e1665e;
    
    --secondary-color-variant: #e84c53;

    --secondary-gradient: linear-gradient(to top, var(--secondary-color), var(--secondary-color-variant));
}

body {     
    background-color: var(--container-background-color);
}