*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html, body { height: 100%; }

.container {
    height: 100vh;
    display: grid;
    align-content: center;
    justify-items: center;

}

body {
    background-color: #2d2d2d;
}

.control-frame {
    width: 100%;    
}

@media(max-width: 991px) {
    .control-frame {
        width: 98%;
    }
}

@media(max-width: 576px) {
    .control-frame {
        width: 80%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }
}