.game-boy-display {
    height: 50%;
    background-color: black;
    padding: 0 40px;
    border: solid 8px #039DA4;
    position: relative;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
}